<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnPhpunitWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="__SIMPLETEST_BASE_URL__"/>
    <env name="SIMPLETEST_DB" value="mysql://db:db@db/db"/>
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
    <env name="MINK_DRIVER_CLASS" value=""/>
    <env name="MINK_DRIVER_ARGS" value=""/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value=""/>
  </php>
  <extensions>
    <bootstrap class="Drupal\TestTools\Extension\HtmlLogging\HtmlOutputLogger">
      <parameter name="outputDirectory" value="web/sites/simpletest/browser_output"/>
      <parameter name="verbose" value="true"/>
    </bootstrap>
    <bootstrap class="Drupal\TestTools\Extension\Dump\DebugDump">
      <parameter name="colors" value="true"/>
      <parameter name="printCaller" value="true"/>
    </bootstrap>
  </extensions>
  <testsuites>
    <testsuite name="unit">
      <directory>web/modules/custom/**/tests/src/Unit</directory>
      <directory>web/profiles/custom/**/tests/src/Unit</directory>
      <directory>web/themes/custom/**/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>web/modules/custom/**/tests/src/Kernel</directory>
      <directory>web/profiles/custom/**/tests/src/Kernel</directory>
      <directory>web/themes/custom/**/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>web/modules/custom/**/tests/src/Functional</directory>
      <directory>web/profiles/custom/**/tests/src/Functional</directory>
      <directory>web/themes/custom/**/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory>web/modules/custom/**/tests/src/FunctionalJavascript</directory>
      <directory>web/profiles/custom/**/tests/src/FunctionalJavascript</directory>
      <directory>web/themes/custom/**/tests/src/FunctionalJavascript</directory>
    </testsuite>
  </testsuites>
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>web/modules/custom</directory>
      <directory>web/profiles/custom</directory>
      <directory>web/themes/custom</directory>
    </include>
    <exclude>
      <directory>web/modules/custom/*/tests</directory>
      <directory>web/profiles/custom/*/tests</directory>
      <directory>web/themes/custom/*/tests</directory>
    </exclude>
  </source>
</phpunit>
